@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Lato:wght@100;400&family=Outfit:wght@300;400;600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&family=Red+Hat+Display:wght@500;700;900&family=Roboto:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    width: 100vw;
    background: url(images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--Paleblue);
    font-family: 'Red Hat Display', sans-serif;
    /* overflow: hidden; */
    padding: 2rem;
}

:root {
    /* Primary Color */
    --Paleblue: hsl(225, 100%, 94%);
    --Brightblue: hsl(245, 75%, 52%);

    /* Neutral color */
    --Verypaleblue: hsl(225, 100%, 98%);
    --Desaturatedblue: hsl(224, 23%, 55%);
    --Darkblue: hsl(223, 47%, 23%);
}

h1 {
    color: var(--Darkblue);
    font-weight: 900;
    font-size: 1.5rem;
}

p {
    font-size: 1.3rem;
    color: var(--Desaturatedblue);
}

a {
    font-weight: 900;
}

.card {
    max-width: 300px;
    /* border: 1px solid red; */
    margin: auto;
    border-radius: 1em;
    overflow: hidden;
    background-color: white;
    text-align: center;
    box-shadow: 3px 5px 18px rgba(56, 41, 224, .2);
}

.hero img {
    width: 100%;
}

.order-summary {
    padding: 1rem;
    text-align: center;
}

.order-summary p {
    padding: .5rem;
    font-size: 1rem;
    line-height: 1.5rem;
}


/* ANNUAL PLAN BANNER */
.annual-plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    background-color: var(--Verypaleblue);
    width: 75%;
    margin: auto;
    border-radius: .7rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.annual-plan h1 {
    font-size: 1rem;
}

.annual-plan p {
    font-size: 1rem;
}

.annual {
    margin: .5rem;
}


/* ORDER SECTION */
.proceed a {
    width: 75%;
    margin: auto;
    background-color: var(--Brightblue);
    padding: .85rem;
    border-radius: .8rem;
    display: block;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1rem;
    box-shadow: 3px 8px 22px rgba(56, 41, 224, .4);

}

.proceed a:hover {

    background-color: rgba(56, 41, 224, .8);
}


.proceed h1 {
    color: var(--Desaturatedblue);
    font-size: 1.2rem;
    transition: 0.3s;
    margin: 1.2rem 0;
}


.proceed h1:hover {
    color: black;
}

.attribution {
    margin-top: 2rem;
    text-align: center;
    font-size: .8rem;
}


.attribution a {
    text-decoration: none;
}

/* BACKROUND IMAGE FOR LARGER SCREEN */
@media (min-width:800px) {

    body {
        background: url(images/pattern-background-desktop.svg);
    }
}